<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{base :: head}"> </head>
  <body>
    <header th:replace="~{base :: header}"></header>
    <div style="display: flex; justify-content: center; margin-top: 2rem">
      <h1 style="color: red"><u>Delete Employee</u></h1>
    </div>
    <section style="margin-top: 5rem; display: flex; justify-content: center">
      <div
        style="
          width: 300px;
          padding: 20px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          background-color: #fff;
        "
      >
        <form action="/submitId" method="post">
          <!-- ID Field -->
          <div class="form-group" style="margin-bottom: 15px">
            <label
              for="id"
              style="display: block; font-weight: bold; margin-bottom: 5px"
              >Enter your Employee ID :</label
            >
            <input
              type="text"
              id="id"
              name="id"
              required
              style="
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
              "
            />
          </div>

          <!-- Submit Button -->
          <div class="form-group" style="text-align: center; margin-top: 20px">
            <button
              type="submit"
              style="
                background-color: #4caf50;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
              "
            >
              Delete
            </button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
